@model ToDoList.Models.TodoListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Todo List</h1>
    <ul>
        @foreach (var todo in Model.Items)
        {
            <li>
                @todo.Title
            </li>
        }
        @* <a asp-action="Create" class="btn btn-primary" href="Create">add</a> *@
    </ul>
</div>